body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.wrap{
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.wrap .table{
  text-align: left;
  margin-top: 20px;
}
